<form>
	<input type="text" value="<%=user.fname %>" name="fname"><br>
	<input type="text" value="<%=user.lname %>" name="lname"><br>
	<input type="text" value="<%=user.email %>" name="email"><br>
	<input type="text" value="<%=user.passwd %>" name="passwd"><br>
	<input type="submit" name="profile">
</form>