@import"reset.css";@import"skeleton.css";@import"superfish.css"; @import"forms.css";@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);@import url(https://fonts.googleapis.com/css?family=Merienda+One);@import url(https://fonts.googleapis.com/css?family=PT+Sans+Narrow);@import"ui.totop.css";
body{
	background: url(../images/main-bg.gif) repeat 0 0 #fcfcfc;
	font:12px/20px Arial, Helvetica, sans-serif;
	color:#a5a5a5;
	position:relative;
	min-width:1116px;
}

img {
	width:100%;
	height:auto;
}

a[href^="tel:"]{color: inherit; text-decoration:none;} 
* {-webkit-text-size-adjust: none;}

.floatright {float:right;}
.floatleft {float:left;}

html,body{height:100%;}
p{padding-bottom:20px;}
a{color:#30d0ff;outline:none;cursor:pointer;text-decoration:none;}
a:hover{text-decoration:underline}
/*  Header styles */
h1,h2,h3,h4,h5,h6{line-height:1em;color:#3d3d3d;font-family: 'Merienda One', cursive; font-weight:normal; margin-top:47px;}
h1{font-size:28px;}
h2{font-size:26px;}
h3{font-size:24px;} 
h4{font-size:22px;}  
h5{font-size:20px;}
h6{font-size:18px;}
/* Global Structure---------------------------------------- */
/*----- txt,links,lines,titles -----*/
.extra-wrap{overflow:hidden;display:block;}
.fleft{float:left}
.fright{float:right}
.alignright{text-align:right}
.aligncenter{text-align:center}
.alignmiddle *{vertical-align:middle}
.color1{color:#ff2100;}

.last1 {
	margin-bottom:0 !important;
}

.last2 {
	padding-bottom:0 !important;
}

.last3 {
	margin-bottom:0 !important;
	padding-bottom:0 !important;
	background:none !important;
}

.wrapper {width:100%; overflow:hidden;}
 
.p1 {padding-bottom:8px;}
.p2 {margin-bottom:15px;}
.p3 {margin-bottom:30px;}
.p4 {margin-bottom:40px;}
.p5 {margin-bottom:50px;}

.reg {text-transform:uppercase;}

.title {margin-bottom:18px;}

.it {font-style:italic;}

.letter {letter-spacing:-1px;}

/*********************************boxes**********************************/
.margin-bot {margin-bottom:35px;}

.spacing {margin-right:35px;}

.indent {padding:0 0 0px 30px;}
.indent2 {padding-left:50px;}
.indent-bot {margin-bottom:20px;}
.indent-bot2 {margin-bottom:30px;}
.indent-bot3 {margin-bottom:45px;}

.img-indent-bot {margin-bottom:25px;}
.img-indent {float:left; margin:0 20px 0px 0;}	
.img-indent2 {float:left; margin:0 13px 0px 0;}	
.img-indent-r {float:right; margin:0 0px 0px 40px;}	

.prev-indent-bot {margin-bottom:10px;}	

.buttons a:hover {cursor:pointer;}
.clear {
 clear: both;
 display: block;
 overflow: hidden;
 visibility: hidden;
 width: 0;
 height: 0;
}

.bg {
	background:#fff;
	margin:0 auto;
	width:1116px;
}

.bottom-bot {
	width:100%;
	height:40px;
}

.logo {
	display:block; 
	width:220px; 
	height:68px; 
	text-indent:-5000px; 
	background:url(../images/logo.png) 0 0 no-repeat;
}

/*********************************header*************************************/
header {
	width:100%;
	position:relative; 
	z-index:2;
}

.p6 {
	padding-top:33px;
}

header h1 {
	padding:41px 0 0;
	margin:0;
	float:left;
	font-size:0;
	line-height:0;
}																								
	
																						


/********************** Content ************************/

#content {
	width:100%; 
	padding:0 0 46px;
	position:relative;
	z-index:1;
}

.button1 {
	display:inline-block;
	color:#fff;
	font-family: 'Merienda One', cursive;
	padding:10px 24px;
	border-radius:20px;
	font-size:19px;
	line-height:23px;
	transition: all 0.4s ease 0s;
	background:#ff4a52;
}

.button1:hover {
	background:#36d5ff;
	text-decoration:none;
}

aside {
	background:url(../images/bg1.gif) repeat-x 0 0 #2fd0ff;
	padding:0 0 15px;
	width:100%;
	margin:0;
	position:relative;
}

aside p {
	color:#fff;
	line-height:18px;
}


.text2 {
    color: #FFFFFF;
    display: block;
    font-family: 'Merienda One',cursive;
    font-size: 40px;
    letter-spacing: -1px;
    line-height: 48px;
    margin-bottom: 14px;
    margin-top: 36px;
}
																									/***** Page 1 *****/

.button2 {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 20px;
    color: #36D5FF;
    display: inline-block;
    font-family: 'Merienda One',cursive;
    font-size: 19px;
    line-height: 23px;
    margin-left: 19px;
    margin-top: 63px;
    padding: 10px 50px 10px 24px;
    position: relative;
    transition: all 0.4s ease 0s;
}

.button2 span {
	position:absolute;
	right: 9px;
    top: 8px;
	width:29px;
	display:block;
	height:29px;
	background:url(../images/marker1.png) no-repeat 0 0;
}

.button2:hover {
	color:#FF4A52;
	text-decoration:none;
}

.inner1 {
	float:left;
	width:66px;
	height:66px;
	margin-right:17px;
}

.text3 {
	display:block;
	color:#3c3c3c;
	font-size:30px;
	line-height:36px;
	font-family: 'Merienda One', cursive;
	margin-bottom:11px;
}

.b1 {
	background:url(../images/page1-img1.png) no-repeat 0 0;
}

.b2 {
	background:url(../images/page1-img2.png) no-repeat 0 0;
}

.b3 {
	background:url(../images/page1-img3.png) no-repeat 0 0;
}


.p7 {
    line-height: 18px;
    padding-bottom: 18px;
}

.thumb2 {
	padding-top:5px;
}

.button3 {
	font-family: 'Open Sans Condensed', sans-serif;
	display:inline-block;
	color:#fff;
	font-weight:bold;
	font-size:12px;
	line-height:15px;
	padding:6px 16px;
	border-radius:2px;
	background:url(../images/button3.gif) repeat 0 0;
}

.button3:hover {
	background:#30d0ff;
	text-decoration:none;
}

.page1-box1 {
	overflow:hidden;
	margin-top:39px;
}

.p8 .inner1 {
	margin-left:36px;
}

.border-bot {
	width:100%;
	height:1px;
	margin-top:43px;
	background:url(../images/divider2.png) repeat-x center 0;
}

.page1-box2 {
	margin-top:28px;
	overflow:hidden;
}

.page1-box2 p {
	padding-bottom:17px;
}

.page1-img1 {
	margin-bottom:29px;
}

.text4 {
	margin-bottom:18px;
	display:block;
	text-transform:uppercase;
	font-family: 'Open Sans Condensed', sans-serif;
	color:#3d3d3d;
	font-weight:bold;
	font-size:18px;
	line-height:24px;
}

.link1 {
	font-family: 'Open Sans Condensed', sans-serif;
	color:#191919;
	font-weight:bold;
	font-size:16px;
	line-height:20px;
	transition: all 0.4s ease 0s;
}

.link1 span {
	color:#a3a3a3;
}

.link1:hover {
	color:#30d0ff;
	text-decoration:none;
}

.link1:hover span {
	color:#ff4a52;
}

.list1 a {
	color:#a5a5a5;
	font-size:11px;
	text-transform:uppercase;
}

.list1 {
	margin-top:54px;
}

.list1 li {
    background: url("../images/marker3.gif") no-repeat scroll 1px 1px transparent;
    display: block;
    line-height: 14px;
    padding-bottom: 12px;
    padding-left: 24px;
}

.p9 {margin-top:48px;}

.p10 {
	margin-top:34px;
}

.page1-img2 {
    margin-bottom: 15px;
    padding-top: 25px;
}

.text5 {
	color:#30d0ff;
	font-size:18px;
	line-height:22px;
	display:block;
	margin-bottom:8px;
}

.p11 {
	padding-bottom:17px;
}
																									/***** Page 2 *****/

.page2-box1 {
	overflow:hidden;
	background:url(../images/divider2.png) repeat-x 0 bottom;
	padding-bottom:18px;
	margin-top:20px;
}


.p13 {
    margin-bottom: 19px;
    margin-top: 34px;
}

.page2-img1 {
	padding-top:6px;
	margin-bottom:16px;
}

.p14 {margin-top:0;}



.p15 {
    margin-bottom: 10px;
    margin-top: 10px;
}

.page2-img2 {
    float: left;
	margin-bottom:16px;
    margin-right: 18px;
    padding-top: 5px;
}

.page2-box2 {
	overflow:hidden;
	padding-top:9px;
}

.p16 {
	line-height:30px;
}

.thumb1 {
	padding-top:9px;
}


.link2 {
    color: #30D0FF;
    font-size: 18px;
	transition: all 0.4s ease 0s;
    line-height: 22px;
}

.link2:hover {
    color: #ff4a52;
	text-decoration:none;
}

.p17 {
	padding-top:8px;
}

.page4-box1 {
	margin-top:11px;
}

.page4-img1 {
	margin-top:4px;
	margin-bottom:16px;
}
																									/***** Page 3 *****/


.page3-box1 {
    background: url("../images/bg1.gif") repeat-x scroll 0 0 #2FD0FF;
    color: #FFFFFF;
    font-family: 'Merienda One',cursive;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 30px;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    margin-top: 25px;
    padding: 20px 6px 5px 14px;
}

.page3-box1 .button2 {
	margin-top:10px;
	float:right;
}

.page3-box1 p {
	float:left;
}

.page3-img1 {
	margin-top:25px;
}

.page3-img2 {
	margin-top:30px;
}

.p18 {
	margin-top:25px;
	margin-bottom:19px;
}

.page3-img3 {
	margin-top:25px;
}
.p19 {
	margin-top:33px;
}

.p20 {
    margin-top: 22px;
}

.page3-box2 {
	margin-top:20px;
}

.p21 {
	margin-top:28px;
}
																									/***** Page 4 *****/

.p22 {
	margin-top:14px;
}

.text6 {
    background: url("../images/marker4.png") no-repeat scroll 0 0 transparent;
	padding-bottom:6px;
    margin-top: 19px;    
}

.text6>p {
	text-indent: 23px;
}


.map iframe {
    height: 340px;
    overflow: hidden;
    width: 100%;
}

.map {
	margin:25px 0 15px;
}

.p23 {
	margin-bottom:19px;
}

																									/***** Page 5 *****/
																									
.dl1 dt {
	width:210px;
	margin-bottom: 8px;
	line-height:22px;
	font-size:18px;
	color:#30d0ff;
}

.dl1 {margin-bottom:16px;}

.dl1 span {float:left; width:65px;}

.dl1 dd { line-height:20px;}

.dl1 dd a {color:#30d0ff; text-decoration:underline;}

.dl1 dd a:hover {color:#ff4a52; text-decoration:none;}

	
/******************** Footer ******************/
footer {
	width:100%; 
	border-top:1px solid #f4f4f4;
	padding:0 0 21px;
}

.soc-links a {
	display:block;
	width:28px;
	height:28px;
}


.soc-links {
    float: right;
    padding-right: 11px;
    padding-top: 29px;
	overflow:hidden;
}

.soc-links a:hover {
	background-position:0 bottom;
}

.foot-page1 {
	float:left;
	padding-top:32px;
	font-family: 'PT Sans Narrow', sans-serif;
	color:#5e5e5e;
	text-transform:uppercase;
	font-size:14px;
}

.foot-page1 a {
	color:#5e5e5e;
	transition: all 0.4s ease 0s;
}

.foot-page1 a:hover {
	color:#30d0ff;
	text-decoration:none;
}

.soc-links li {
	display:block;
	float:left;
	margin-left:8px;
}

.soc-link1 {background:url(../images/soc-link1.png) no-repeat 0 0 ;
}
.soc-link2 {background:url(../images/soc-link2.png) no-repeat 0 0 ;
}
.soc-link3 {background:url(../images/soc-link3.png) no-repeat 0 0 ;
}
.soc-link4 {background:url(../images/soc-link4.png) no-repeat 0 0 ;
}

.foot-text {
	display:block;
	float:right;
	font-family: 'PT Sans Narrow', sans-serif;
	color:#5e5e5e;
	text-transform:uppercase;
	font-size:15px;
	padding-right: 11px;
    padding-top: 32px;
}


/******************** Responsive ******************/

@media only screen and (max-width: 1116px) {
	.bg {width:100%;}
	
	body {
		min-width:1000px;
	}
	
	.camera_wrap {
	min-height:330px;
}

#toTop {display:none !important;}


}





@media only screen and (min-width: 768px) and (max-width: 1024px) {
 body {
min-width:768px;
}
.bg {width:100%;}

#toTop {display:none;}

.text3 {
    letter-spacing: -1px;
}

.camera_wrap {
	min-height:314px;
	margin-bottom:0 !important;
}
.sf-menu a {
    font-size: 17px;
    line-height: 24px;
    padding: 14px 18px;
}

.sf-menu li:hover ul, .sf-menu li.sfHover ul {
    top: 52px;
}

.camera_caption {
	margin-left:640px;
	top: 20px;
}


.button2 {
    letter-spacing: -1px;
	font-size:18px;
    padding: 10px 43px 10px 13px;
}

.page3-box1 .button2 {
	float:none;
	margin-left:0;
}

.page3-box1 p {
	float:none;
	padding-bottom:4px;
}

.page3-box1 {
	padding-bottom:10px;
}

}

@media only screen and (max-width: 995px) {
 body{min-width:768px;}
 
 .bg {width:100%;}
 


.camera_wrap {
	min-height:314px;
}

.page3-box1 .button2 {
	float:none;
	margin-left:0;
}

.page3-box1 p {
	float:none;
	padding-bottom:4px;
}

.page3-box1 {
	padding-bottom:10px;
}

.camera_caption {
	height: 300px;
    width: 300px;
}

.banner-inner1 {
    font-size: 30px;
    padding: 48px 0 13px;
}

.button1 {
    padding: 8px 20px;
}

.camera_caption {
	margin-left:590px;
	top: 10px;
}
 
}

 @media only screen and (max-width: 767px) {
body {
min-width:420px;
}
.bg {width:100%;}

.sf-menu a {
    font-size: 17px;
    line-height: 24px;
    padding: 14px 18px;
}

.sf-menu li:hover ul, .sf-menu li.sfHover ul {
    top: 52px;
}

.camera_target_content {
	display:none;
}

.text3 {
    letter-spacing: -1px;
}

.camera_wrap {
	min-height:300px;
	margin-bottom:0 !important;
}

}

@media only screen and (max-width: 800px) {
.bg {width:100%;}


.sf-menu a {
    font-size: 17px;
    line-height: 24px;
    padding: 14px 18px;
}

.camera_target_content {
	display:none;
}

.text3 {
    letter-spacing: -1px;
}

.button2 {
    letter-spacing: -1px;
	font-size:18px;
    padding: 10px 43px 10px 13px;
}

.camera_wrap {
	min-height:300px;
	margin-bottom:0 !important;
}

.sf-menu li:hover ul, .sf-menu li.sfHover ul {
    top: 52px;
}

}

@media only screen and (min-width: 480px) and (max-width: 767px) {
 body {
min-width:420px;
}

.floatright {float:left;}
.floatleft {float:right;}

nav select {
    outline:none;
	display: block !important;
	height:25px;
	line-height:25px;
	padding:0 0 4px;
}	


.text3 {
    letter-spacing: -1px;
}

.p6 {
    padding-top: 0px;
}

.bg {width:100%;}

.p8 .inner1 {
    margin-left: 0;
}

.logo {
    margin: 0 auto;
}

header h1 {
    float: none;
    padding: 31px 0 16px;
}

.button2 {
    margin-top: 0;
}

.text2 {
    font-size: 29px;
}

.camera_wrap {
    min-height: 190px;
}

.foot-text {
	display:none;
}

.foot-page1,
.soc-links {
	float:none;
	margin-left:0;
}
.soc-links {
 padding-top: 16px;
}

.soc-links li {
	margin:0 8px 0 0;
}


.p9 {
    margin-top: 20px;
}

.p12 {
	margin-left:0;
}

h3 {
	margin-top:20px;
}

.page2-box2 .extra-wrap {
	overflow:visible;
}

.page2-img2 {
	float:none;
	margin-right:0;
}

.page3-box1 .button2 {
	float:none;
	margin-left:0;
}

.page3-box1 p {
	float:none;
	padding-bottom:4px;
}

.page3-box1 {
	padding-bottom:10px;
}

.bottom-bot {display:none;}

}

@media only screen and (max-width: 479px) {

	 .inner-block {
	padding:0 10px;
}

body {
min-width:300px;
}

.bg {width:100%;}

.p8 .inner1 {
    margin-left: 0;
}

.camera_wrap {
    min-height: 116px;
}

.logo {
    margin: 0 auto;
}

header h1 {
    float: none;
    padding: 31px 0 16px;
}

.button2 {
    margin-top: 0;
}

.text2 {
    font-size: 35px;
}

.foot-page1,
.soc-links {
	float:none;
	margin-left:0;
}
.soc-links {
 padding-top: 16px;
}

.foot-text {
	display:none;
}

.soc-links li {
	margin:0 8px 0 0;
}

.p12 {
	margin-left:0;
}

h3 {
	margin-top:20px;
}


.p6 {
    padding-top: 0;
}

.page2-box2 .extra-wrap {
	overflow:visible;
}

.page2-img2 {
	float:none;
	margin-right:0;
}

.page3-box1 .button2 {
	float:none;
	margin-left:0;
}

.page3-box1 p {
	float:none;
	padding-bottom:4px;
}

.page3-box1 {
	padding-bottom:10px;
}

.bottom-bot {display:none;}

	}
	

