<div  class="ui middle aligned stackable grid container">
<span id="strRes" class="ui center aligned column"></span>
<div id="calc" class="calcDiv ui center aligned column">
    <div id="result" class="calcDiv"><span id="textInCulc" class="ui span"> </span></div>
    <div id="knopki" class="calcDiv">
        <div id="numbers">
            <div id="1" class="culcButton calcDiv ui button inverted"><span class="ui span">1</span></div>
            <div id="2" class="culcButton calcDiv ui button inverted"><span class="ui span">2</span></div>
            <div id="3" class="culcButton calcDiv ui button inverted"><span class="ui span">3</span></div>
            <div id="4" class="culcButton calcDiv ui button inverted"><span class="ui span">4</span></div>
            <div id="5" class="culcButton calcDiv ui button inverted"><span class="ui span">5</span></div>
            <div id="6" class="culcButton calcDiv ui button inverted"><span class="ui span">6</span></div>
            <div id="7" class="culcButton calcDiv ui button inverted"><span class="ui span">7</span></div>
            <div id="8" class="culcButton calcDiv ui button inverted"><span class="ui span">8</span></div>
            <div id="9" class="culcButton calcDiv ui button inverted"><span class="ui span">9</span></div>
            <div id="0" class="culcButton calcDiv ui button inverted"><span class="ui span">0</span></div>
            <div id="point" class="culcButton calcDiv ui button inverted"><span class="ui span">.</span></div>
            <div id="equally" class="culcButton calcDiv ui button inverted"><span class="ui span">=</span></div>
        </div>
        <div id="operations">
            <div id="plus" class="culcButton calcDiv ui button inverted"><span class="ui span">+</span></div>
            <div id="minus" class="culcButton calcDiv ui button inverted"><span class="ui span">-</span></div>
            <div id="devide" class="culcButton calcDiv ui button inverted"><span class="ui span">/</span></div>
            <div id="multiply" class="culcButton calcDiv ui button inverted"><span class="ui span">*</span></div>
            <div id="ce" class="culcButton calcDiv ui button inverted"><span class="ui span">CE</span></div>
            <div id="wipeOff" class="culcButton calcDiv ui button inverted"><span class="ui span">AC</span></div>
        </div>
    </div>
</div>
    <div>
        <h3>Последние операции</h3>
        <div id="last-operations">

        </div>
    </div>
</div>