<div class="ui middle center aligned stackable grid container">
    <div class="two right control-panel">
        <h3  class="ui header">Скорость прокрутки слайдов</h3>
        <div   id ="btn-speed-div" class="ui input big">
            <input id="btn-slider-speed" type="text" placeholder="Секунды (по умолчанию раз в 3 сек)">
            <div class="item item-slider">
                <a id="btn-slider-start" class="ui primary button big right"><span>Start</span></a>
                <a id="btn-slider-stop" class="ui primary button right big">Stop</a>
            </div>
        </div>
    </div>

    <div id="dynamic-content" class="two wide left floated">
        <div class="slider-wrap">
            <div id="slider">
            </div>
        </div>

    </div>
</div>