<form>
	<input type="text" name="fname" value="<%=user.fname%>"><br>
	<input type="text" name="lname"><br>
	<input type="text" name="email"><br>
	<input type="text" name="password"><br>
	<input type="submit" name="profile">
</form>