html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, addres, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dd, dt, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/*общие настройки для шаблона и всех тэгов*/

* {
    margin: 0;
    padding: 0;
    outline: 0;
    line-height: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    font: 14px/18px 'Times New Roman', Times, sans-serif; /* пиксели после дроби это расстояния между строками*/
    background-color: #FFF;
}

ol,
ul {
    list-style: none;
}

a,
a:hover {
    text-decoration: none;
}

.clearfix:before,
.clearfix:after { /* с помощью данного класса, его свойств и псевдоэлементов :after, :before*/
    content: " "; /*всем элементам с данным классом добавил пробел в начала и конце элемента*/
    display: table;
}

.clearfix:after {
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.container {
    padding: 20px;
    width: 960px;
    height: 1050px;
    margin: 0 auto;
}

#center-segment {
    border-bottom: solid 1px #929292;
    border-top: solid 1px #929292;
}



#up-segment {
    border-bottom: 1px solid #929292;
    width: 100%;
    height: 41%;
}

#center-segment {
    padding-top: 40px;
    padding-bottom: 40px;
    width: 100%;
    height: 55%;
}
#down-segment {
    width: 100%;
    height: 8%;
}

#center-segment > div.left {
    border-right: 1px solid #929292;
}

.inner-segment {
    display: inline-block;
    width: 50%;
    height: 100%;
}
#up-segment:nth-child(1){
    padding-left: 49px;
}
.tab-links {
    border: 1px solid #222222;
    width: 80%;
    margin: 0 auto;
    height: 50px;
    padding-top: 5px;
}

.tab-links a:first-child {
    background: url("./img/addit-types.png") no-repeat -100px;
    background-position-y: -42px;

}

.tab-links a:nth-child(2) {
    background: url("./img/addit-types.png") no-repeat -51px;
    background-position-y: -2px;

}

.tab-links a:nth-child(3) {
    background: url("./img/addit-types.png") no-repeat -249px;
    background-position-y: -2px;

}

.tab-links a:nth-child(4) {
    background: url("./img/addit-types.png") no-repeat -199px;
    background-position-y: -2px;

}

.tab-links a:nth-child(5) {
    background: url("./img/addit-types.png") no-repeat -347px;
    background-position-y: -2px;

}

.active-tab-link{
    background-position-y: -42px;
}

#tabs{
    width: 100%;
    height: 73%;
    padding: 20px 46px;
}

.tab-links-item {
    display: inline-block;
    float: left;
    width: 38px;
    height: 38px;
    border: 1px solid #929292;
    border-radius: 50%;
    margin-left: 28px;
    cursor: pointer;
}

.tab-links-item:hover {
    opacity: 0.8;
}
h2.title {
    display: inline-block;
    text-transform: uppercase;
    font: bold 20px/20px arial, sans-serif; /* пиксели после дроби это расстояния между строками*/
    color: #222222;
}
#up-segment h2.title{
    margin:  38px 0 38px 24px;
}
h5.title {
    display: inline-block;
    margin-left: 48px;
    text-transform: uppercase;
    font: bold 14px/14px arial, sans-serif; /* пиксели после дроби это расстояния между строками*/
    color: #222222;
}
.tab-item {
    display: block;
    margin-bottom: 15px;
    float: left;
    width: 90px;
    height: 85px;
}
.main-tab{
    display: none;
    height: 100%;
}
.active-tab {
    display: block;
}
.tab-item img{
    width: 55px;
    height: 45px;
}
#tabs{
    text-align: center;
}
#tabs span {
    font-size: 11px;
}
.price {
    color: #cb0505;
}
.pizza-box{
    width: 100%;
    height: 100%;
}
.pizza-img-konst{
    width: 100%;
    height: 100%;
}
#main-img{
    display: block;
    position: static;
    width: 410px;
    height: 410px;
}
.pizza-img-konst img{
    z-index: -1;
    position: absolute;
    width: 305px;
    height: 305px;
    top: 7%;
    left: 31%;
}
.up-right-items{
    padding-left: 23px;
    height: 22%;
    width: 100%;
}
.up-right-items p {
    font: bold 17px/17px arial, sans-serif;
}
.pizza-type{
    opacity: 0.7;
    width: 80px;
    height: 52px;
    float: left;
    display: inline-block;
    margin-right: 20px;
    border-radius: 2px;
}
.pizza-txt{
    opacity: 1;
    width: 80px;
    height: 52px;
    float: left;
    display: inline-block;
    margin-right: 20px;
    border-radius: 2px;
}
#americano{
    opacity: 1;
    background: url("./img/item-americano.png");
}
#italano{
    background: url("./img/item-italano.png");
}
#italano:hover, #americano:hover{
    opacity: 0.8;
    cursor: pointer;
}
.pizza-size{
    vertical-align: middle;
    width: 60px;
    height: 65px;
    float: left;
    display: inline-block;
    margin-right: 10px;
}
.pizza-size:first-child,.pizza-sauce:first-child{
    margin-right: 40px;
}
.pizza-size:last-child{
    margin-right: 0;
}
#large{
    background: url("./img/pizza-size-large.png") no-repeat;
}
#middle{
    width: 55px;
    height: 56px;
    background: url("./img/pizza-size-mid.png") no-repeat 50% 100%;
}
#small{
    width: 44px;
    height: 47px;
    background: url("./img/pizza-size-small.png") no-repeat 50% 0;
}
#small:hover, #middle:hover, #large:hover {
    opacity: 0.8;
    cursor: pointer;
}
.pizza-sauce{
    float: left;
    display: inline-block;
    margin-right: 10px;
    width: 60px;
    height: 60px;
}
.pizza-sauce img{
    cursor: pointer;
    opacity: 0.6;
    width: 100%;
    height: 100%;
}
#ranch img{
    opacity: 1;
}
#main-component{
    margin-top: 25px;
    float: left;
    width: 103px;
    height: 68px;
    display: inline-block;
}
.sauce-select{
    width: 100%;
    font-size: 12px;
}
#main-component-img img{
    width: 45px;
    height: 45px;
}
#main-component-img{
    padding-left: 30px;
}
h4.title {
    display: inline-block;
    text-transform: uppercase;
    font: bold 14px/14px arial, sans-serif; /* пиксели после дроби это расстояния между строками*/
    color: #222222;
}
#down-segment h2.title{
    margin-left: 20px;
    margin-top: 30px;
}
.btn{
    background: #f37125;
    font-size: 25px;
    font-weight: bold;
    color: #fff;
    border-radius: 10px;
    vertical-align: middle;
    cursor: pointer;
    padding: 20px;
    margin-top: 20px;
    margin-left: 60px;
}
#sum_size {
    display: inline-block;
    font: bold 17px/17px arial, sans-serif; /* пиксели после дроби это расстояния между строками*/
    color: #222222;
}