<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="mainAll">
                <div class="mainTopPcBlock"></div>
                <img src="/img/poker.jpg">
                <!--<a href="/game" class="buttonGamesOn">Игра</a>-->
                
                <!--<div class="gamesRoomIndex">-->
                <!--<ul class="roomForIndex">-->
                <!--<li>-->
                <!--<p class="roomNumber">№ <span>1</span></p>-->
                <!--</li>-->
                <!--<li></li>-->
                <!--<li></li>-->
                <!--<li></li>-->
                <!--<li></li>-->
                <!--</ul>-->
                <!--</div>-->
                <div class="pokerInfo">
                    <h3 class="pokerInfoTitles"></h3>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</div>